# Defines our composer file version
version: "3"

# Define our services 
services: 
    rabbitmq:
        container_name: "rabbitmq"
        tty: true
        image: rabbitmq:management
        ports:
            - 15672:15672
            - 15671:15671
            - 5672:5672
        volumes:
            - ./rabbitmq/lib:/var/lib/rabbitmq/mnesia

    socket-handler:
        container_name: socket.io
        restart: always
        
        # Environment file we created
        env_file:
            - ./.env

        # use the local Dockerfile
        build: ./

        # Exposes the necessary ports that our node app uses
        ports:
            - "3000:3000"
        
        # All the services our node app will link to -
        # You can other services such as a Redis
        # links: depends_on alias name
        links:
            - rabbitmq # The name should be similar to the service you will build

        depends_on: 
            - rabbitmq

    nginx:
        container_name: nginx
        image: nginx:latest
        volumes: 
            - ./nginx:/etc/nginx
        ports: 
            - "8000:80"

        links: 
            - socket-handler
        depends_on: 
            - socket-handler